html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color:#f4f5f8;
}

.signup-containesr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.signup-logo {
    max-width: 150px;
    height: auto;
    border-radius: 40px;
}

.signup-form {
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff2600;
    border-radius: 40px;
    box-sizing: border-box;
}

.signup-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #ffedea;
    color: rgb(0, 0, 0);
    border: 2px solid #ff2600;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #ff2600;
    color: #fff;
}

.login-link {
    margin-top: 20px;
    color: #818181;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    color: #ff2600;
}

@media (max-width: 500px) {
    .signup-form {
        padding: 20px;
        border-radius: 20px;
    }
}